.card {
  width: 350px;
  height: 500px;
}

.header {
  position: relative;
  width: 100%;
  height: 130px;
  background: url(../../public/assets/carousel/cardbg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 280px;
  background: linear-gradient(
    90.37deg,
    #cccfff 0.32%,
    #dbdeff 22.3%,
    #e5e7ff 49.57%,
    #f5f5ff 99.68%
  );
}
